<div class="col-md-3"><%= render 'layouts/left_sidebar' %></div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-10">
        <% if @products.present? %>
            <%= form_tag({controller: "category", action: "view_sub_category"}, method: "get") do %>
                <%= label_tag("Показать товаров") %>
                <%= select_tag(:count, options_for_select([[10, 10], [20, 20], [50, 50], [100, 100],["-Все-", @products.count]])) %>
                <%= submit_tag("Отправить") %>
            <% end %>
            <% @products.each do |product| %>
                <div class="col-md-4"><%= image_tag product.image, {height: 90, weight: 90} %>
                  <h5><%= link_to product.title, view_product_path(sub_category: product.sub_category,slug: product.slug) %></h5></div>
            <% end %>
        <% else %>
            <p>Товарів у магазині немає</p>
        <% end %>
      </div>
    </div>
  </div>
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
<div class="col-md-3"><%= render 'layouts/right_sidebar' %></div>