<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здраствуйте, с магазина FriendsBote поступил заказ</h1>
<p>===============================================</p>
    <h2><b>Детали заказа:</b></h2>
    <% if @coupon.present? %>
    <h3>Заказчику был предоставлен купон на <%= number_to_percentage(@coupon.percent, precision: 0) %> </h3>
    <% end %>
<% @order.order_item.find_each do |order_item| %>
    <h3>Название: <%= order_item.product.title %></h3>
    <h3>Количество: <%= order_item.quantity %></h3>
    <h3>Всего: <%= order_item.total_price_cents %>$</h3>
<% end %>
<h3>Всего: <%= @order.total_price_cents %>$</h3>
<p>===============================================</p>
    <h3>Имя: <%= @user.name %></h3>
    <h3>Фамилия: <%= @user.surname %></h3>
    <h3>E-mail адрес: <%= @user.email %></h3>
    <h3>Телефонный номер: <%= @user.phone_number %></h3>
    <h3>Страна: <%= @user.country %></h3>
    <h3>Компания: <%= @user.company %></h3>
    <h3>Первый адрес: <%= @user.first_address %></h3>
    <h3>Второй адрес: <%= @user.second_address %></h3>
    <h3>Город: <%= @user.city %></h3>
    <h3>Штат: <%= @user.state %></h3>
    <h3>Посткод: <%= @user.postcode %></h3>
</body>
</html>