<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здраствуйте, <%= @user.name %></h1>
<p>===============================================</p>
<h2>Ваш заказ успешно принят!</h2>
<h3>Вам был предоставлен купон на <%= number_to_percentage(@coupon.percent, precision: 0) %> </h3>
<h3>Статус вашего заказа: "Принят"</h3>
<h2><b>Детали заказа:</b></h2>
<% @order.order_items.find_each do |order_item| %>
  <h3>Название: <%= order_item.product.title %></h3>
  <h3>Цена: <%= order_item.product.price_cents %>$</h3>
  <h3>Количество: <%= order_item.quantity %></h3>
  <h3>Всего: <%= order_item.total_price_cents %>$</h3>
<% end %>
<h3>Всего: <%= @order.total_price_cents %>$</h3>
<h3>В ближайшее время менеджер нашего магазина с вами свяжеться</h3>
</body>
</html>