<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здраствуйте, <%= @user.name %></h1>
<p>===============================================</p>
<h2>Ваш заказ успешно принят!</h2>
<h3>Вам был предоставлен купон на <%= number_to_percentage(@coupon.percent, precision: 0) %> </h3>
<h3>Статус вашего заказа: "Принят"</h3>
<h2><b>Детали заказа:</b></h2>
<% @orders.each do |order| %>
  <h3>Название: <%= order.product.title %></h3>
  <h3>Цена: <%= order.product.price %> $</h3>
  <h3>Количество: <%= order.quantity %></h3>
  <h3>Всего: <%= order.total_price %> $</h3>
<% end %>
  <h3>В ближайшее время менеджер нашего магазина с вами свяжеться</h3>
</body>
</html>