<div class="col-md-3"><%= render 'layouts/left_sidebar' %></div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-10">
      <div class="node__content">
        <div class="field--body">
          <% provide(:title, 'Контакты') %>
          <p><%= @contacts.content %></p>
          <p><strong><em><%= @contacts.phone_numbers %></em></strong><br><strong><em>e-mail: <a href="mailto:<%= @contacts.email %>"><%= @contacts.email %></a></em></strong><br>
            &nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-md-3"><%= render 'layouts/right_sidebar' %></div>