<div class="panel panel-default">
<h1 class="custom-title">Магазин христианской книги Friedensbote</h1>
<div class="panel-body text-center">
  <% provide(:title, 'Главная') %>
  <p id="notice"><%= notice %></p>
  <div class="col-md-10">
    <% @products.each do |product| %>
      <% if product.main? %>
        <%= image_tag product.image_url.to_s %>
        <h2 class="default-title"><%= link_to product.title, view_product_path(category: product.category,slug: product.slug) %></h2>
        <p class="text-left default-text"><%= product.description.html_safe %></p>
      <% end %>
    <% end %>
  </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-body text-center">
  <div class="col-md-10">
    <div class="row">
      <% @products.take(@count).shuffle.each do |product| %>
        <div class="col-md-4">
          <%= image_tag product.image_url.to_s, {height: 90, weight: 90} %>
          <h3 class="default-title"><%= link_to product.title, view_product_path(category: product.category,slug: product.slug) %></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>