<div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-10">
        <article role="article" class="node node--page node--full node--page--full">
          <div class="node__content">
            <div class="field--body">
              <% provide(:title, 'Поиск') %>
              <%= search_form_for @search, method: 'get', class: 'navbar-form navbar-right', role: 'search', autocomplete: 'off', url: search_path do |f| %>
                  <div class="form-group">
                    <%= f.text_field :title_or_author_title_or_category_title_cont, placeholder: 'Поиск продуктов', class: 'form-control' %>
                    <br/>
                    <% @categories.find_each do |category| %>
                        <%= check_box_tag('q[category_title_cont_any][]', category.title) %>
                        <%= category.title %>
                    <% end %>
                  </div>
                  <%= f.submit 'Поиск', class: 'btn btn-default' %>
              <% end %>
              <% if @products.present? %>
                  <% @products.each do |product| %>
                      <% @title = product.category.title %>
                      <div class="col-md-4"><%= image_tag product.image, {height: 90, weight: 90} %>
                        <h5><%= link_to product.title, view_product_path(category: product.category, slug: product.slug) %></h5></div>
                  <% end %>
                    <p>По вашему запросу ничего не найдено</p>
                <% end %>
            </div>
          </div>
        </article>
      </div>
    </div>
</div>