<div class="panel panel-default">
<div class="panel-body">
  <div class="col-md-10">
    <% provide(:title, @publisher.title) %>
    <% if @products.present? %>
        <%= form_tag({controller: "publisher", action: "view_publisher"}, method: "get") do %>
            <%= label_tag("Показать товаров") %>
            <%= select_tag(:count, options_for_select([[10, 10], [20, 20], [50, 50], [100, 100],["-Все-", @products.count]])) %>
            <%= submit_tag("Отправить") %>
        <% end %>
        <h4 id="notice"><%= notice %></h4>
        <% @products.each do |product| %>
            <% @title = product.title %>
            <div class="col-md-4"><%= image_tag product.image, {height: 90, weight: 90} %>
              <h5><%= link_to product.title, view_product_path(category: product.category, slug: product.slug) %></h5></div>
        <% end %>
    <% else %>
        <p>Товарів у магазині немає</p>
    <% end %>
  </div>
</div>
</div>
<%= will_paginate @products, renderer: BootstrapPagination::Rails %>