<div class="col-md-12">
  <div class="panel panel-default">
    <% if @product.quantity_products <= 0 %>
        <% disabled = true %>
    <% else %>
        <% disabled = false %>
    <% end %>
    <h1 class="custom-title"><%= @title %></h1>
    <% if notice %>
      <div class="col-md-12 default-margin">
        <div class="panel panel-success panel-bottom">
          <div class="panel-heading panel-footer">
            <div id="notice"><%= notice %></div>
          </div>
        </div>
      </div>
    <% end %>
      <div class="panel-body">
        <div class="col-md-7 text-center">
          <% provide(:title, @title) %>
          <%= image_tag @product.image, class: 'custom-width' %>
          <p class="text-left default-text default-margin"><%= @product.description.html_safe %></p>
        </div>

        <div class="col-md-5">
          <p><b>Цена:</b> <%= @product.price_cents %> $</p>
          <%= form_tag({controller: 'product', action: 'view_product'}, method: "get") do %>
              <div class="form-group">
                <%= label_tag(:count_of_products, 'Количество:', class: 'sr-only') %>
                <%= text_field_tag :count_of_products, '', class: 'form-control', placeholder: 'Количество:' %>
              </div>
              <%= button_tag 'Применить', class: 'btn btn-default' %>
          <% end %>
          <p class="custom-margin">Если не хотите оформлять заказ самостоятельно, поручите это нашим менеджерам: +38 (096) 808-62-65.</p>
          <ul class="list-unstyled">
            <% if @product.reference.present? %>
              <li class="primary-padding"><b>Артикул:</b> <%= @product.reference %></li>
            <% end %>
            <% if @product.ISBN.present? %>
              <li class="primary-padding"><b>ISBN:</b> <%= @product.ISBN %></li>
            <% end %>
            <% if @product.author.present? %>
              <li class="primary-padding"><b>Автор:</b> <%= link_to @product.author.title, view_author_path(slug: @product.author.slug) %></li>
            <% end %>
            <% if @product.category.present? %>
              <li class="primary-padding"><b>Категория:</b> <%= link_to @product.category.title, view_category_path(slug: @product.category.slug) %></li>
            <% end %>
            <% if @product.publisher.present? %>
              <li class="primary-padding"><b>Издательство:</b> <%= link_to @product.publisher.title, view_publisher_path(slug: @product.publisher.slug) %></li>
            <% end %>
            <% if @product.quantity_products.present? %>
              <li class="primary-padding"><b>Количество:</b> <%= @product.quantity_products %></li>
            <% end %>
            <% if @product.language.present? %>
              <li class="primary-padding"><b>Язык книги:</b> <%= @product.language %></li>
            <% end %>
            <% if @product.number_of_pages.present? %>
              <li class="primary-padding"><b>Количество страниц:</b> <%= @product.number_of_pages %></li>
            <% end %>
            <% if @product.format.present? %>
              <li class="primary-padding"><b>Формат:</b> <%= @product.format %></li>
            <% end %>
            <% if @product.weight.present? %>
              <li class="primary-padding"><b>Вес:</b> <%= @product.weight %></li>
            <% end %>
            <% if @product.height.present? %>
              <li class="primary-padding"><b>Высота:</b> <%= @product.height %></li>
            <% end %>
            <% if @product.width.present? %>
              <li class="primary-padding"><b>Ширина:</b> <%= @product.width %></li>
            <% end %>
            <% if @product.thickness.present? %>
              <li class="primary-padding"><b>Толщина:</b> <%= @product.thickness %></li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>