<div class="col-md-13">
  <div class="panel panel-default">

        <div class="panel-body">
          <div class="col-md-7">
            <% provide(:title, @title) %>
            <h4 id="notice"><%= notice %></h4>
            <% if @product.quantity_products <= 0 %>
               <% disabled = true %>
            <% else %>
                <% disabled = false %>
            <% end %>
            <h3><%= @title %></h3>
            <%= image_tag @product.image %>
            <tr>
              <td><h5><%= @product.description %></td></h5>
            </tr>
          </div>

          <div class="col-md-5">
            <h5>Цена: <%= @product.price %> $</h5>
            <%= form_tag({controller: "product", action: "view_product"}, method: "get") do %>
                <%= label_tag("Количество") %>
                <%= text_field_tag :count_of_products, '', class: 'form-control', :disabled => disabled %>
                <%= submit_tag("Отправить", class: 'btn btn-default', :disabled => disabled) %>
            <% end %>
            <h5>Если не хотите оформлять заказ самостоятельно, поручите это нашим менеджерам: +38 (096) 808-62-65.</h5>
            <ul>
              <% if @product.reference.present? %>
              <li><h4>Артикул: <%= @product.reference %></h4></li>
              <% end %>
              <% if @product.ISBN.present? %>
              <li><h4>ISBN: <%= @product.ISBN %></h4></li>
              <% end %>
              <% if @product.author.present? %>
              <li><h4>Автор: <%= link_to @product.author.title, view_author_path(slug: @product.author.slug) %></h4></li>
              <% end %>
              <% if @product.sub_category.present? %>
              <li><h4>Категория: <%= link_to @product.sub_category.title, view_sub_category_path(slug: @product.sub_category.slug) %></h4></li>
              <% end %>
              <% if @product.publisher.present? %>
              <li><h4>Издательство: <%= link_to @product.publisher.title, view_publisher_path(slug: @product.publisher.slug) %></h4></li>
              <% end %>
              <% if @product.quantity_products.present? %>
                  <li><h4>Количество: <%= @product.quantity_products %></h4></li>
              <% end %>
              <% if @product.language.present? %>
              <li><h4>Язык книги: <%= @product.language %></h4></li>
              <% end %>
              <% if @product.number_of_pages.present? %>
              <li><h4>Количество страниц: <%= @product.number_of_pages %></h4></li>
              <% end %>
              <% if @product.format.present? %>
              <li><h4>Формат: <%= @product.format %></h4></li>
              <% end %>
              <% if @product.weight.present? %>
              <li><h4>Вес: <%= @product.weight %></h4></li>
              <% end %>
              <% if @product.height.present? %>
              <li><h4>Высота: <%= @product.height %></h4></li>
              <% end %>
              <% if @product.width.present? %>
              <li><h4>Ширина: <%= @product.width %></h4></li>
              <% end %>
              <% if @product.thickness.present? %>
              <li><h4>Толщина: <%= @product.thickness %></h4></li>
              <% end %>
            </ul>
          </div>
          </div>
  </div>
</div>