<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здраствуйте, <%= @user.name %></h1>
<p>===============================================</p>
<h2>Ваш заказ успешно принят!</h2>
<h2><b>Детали заказа:</b></h2>
<% @customers_product.each do |customer_product| %>
  <h3>Название: <%= customer_product.product.title %></h3>
  <h3>Цена: <%= customer_product.product.price %> грн></h3>
  <h3>Количество: <%= customer_product.quantity %></h3>
  <h3>Всего: <%= customer_product.quantity * customer_product.product.price %> грн</h3>
<% end %>
</body>
</html>