<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здраствуйте, <%= @user.name %></h1>
<p>===============================================</p>
<h3>Ваш заказ успешно принят!</h3>
<h3><b>Детали заказа:</b></h3>
<% @customers_product.each do |customer_product| %>
  <h4><%= customer_product.product.title %></h4><br/>
  <h4>Цена: <%= customer_product.product.price %> грн></h4><br/>
  <h4>Количество: <%= customer_product.quantity %></h4><br/>
  <h4>Всего: <%= customer_product.quantity*customer_product.product.price %> грн</h4><br/>
<% end %>
</body>
</html>