<div class="panel panel-default">
  <h1 class="custom-title">Корзина</h1>
  <div class="panel-body">
      <% provide(:title, 'Корзина') %>
      <% if notice %>
        <div class="panel panel-success panel-bottom">
          <div class="panel-heading panel-footer">
            <div id="notice"><%= notice %></div>
          </div>
        </div>
      <% end %>
      <% if @order.present? %>
        <% array = Array.new
           a = 0
           if @order.order_items.present?
             @order.order_items.to_a.map do |i|
               array[a] = i.quantity * i.product.price_cents
               a =+1
             end
           end
        %>
          <table class="table">
            <thead>
              <tr class="active">
                <th>Название:</th>
                <th>Цена:</th>
                <th>Количество:</th>
                <th>Удалить:</th>
                <th>Всего:</th>
              </tr>
            </thead>
            <tbody>
              <% @order.order_items.find_each do |order_item| %>
                <tr>
                  <td>
                    <%= link_to order_item.product.title, view_product_path(category: order_item.product.category, slug: order_item.product.slug) %>
                  </td>
                  <td><%= order_item.product.price_cents %> $</td>
                  <td>
                    <%= form_tag({controller: 'customer', action: 'update_quantity'}, method: "get") do %>
                        <%= number_field_tag :quantity_of_products, order_item.quantity, class: 'form-control' %>
                        <%= hidden_field_tag :product_title, order_item.product.title %>
                    <% end %>
                  </td>
                  <td>
                    <%= form_tag({controller: 'customer', action: 'destroy'}, method: "get") do %>
                        <%= hidden_field_tag :product_title, order_item.product.title %>
                        <%= hidden_field_tag :quantity_of_products, order_item.quantity %>
                        <%= submit_tag 'Удалить', class: 'btn btn-default' %>
                    <% end %>
                  </td>
                  <td><%= order_item.quantity * order_item.product.price_cents %> $</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <div class="col-md-12 text-right change-padding">
          <b>Итого:</b> <%= @order.total_price_cents %>$
        </div>
        <% if notice.blank? || @order.present? %>
          <%= form_tag({controller: 'customer', action: 'new'}, method: "get") do %>
              <%= submit_tag 'Оформить заказ', class: 'btn btn-default' %>
          <% end %>
        <% end %>
      <% else %>
          <p>Ваша корзина пуста</p>
      <% end %>
  </div>
</div>