<div class="panel panel-default">
  <h1 class="custom-title">Оформление заказа</h1>
  <div class="panel-body">
    <% provide(:title, 'Оформление заказа') %>
    <p id="notice"><%= notice %></p>
    <% if @customer_params.present? %>
      <%= @customer_params %>
    <% end %>
    <table class="table">
      <thead>
        <tr class="active">
          <th>Название:</th>
          <th>Цена:</th>
          <th>Количество:</th>
          <th>Всего:</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |order_item| %>
        <tr>
          <td><b><%= order_item.product.title %></b></td>
          <td><%= order_item.product.price_cents %> $</td>
          <td class="text-center"><%= order_item.quantity %></td>
          <td><%= @entire_amount = order_item.quantity * order_item.product.price_cents %> $</td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-md-12 text-right change-padding">
      <b>Итого:</b> <%= @order.total_price_cents %>$
    </div>
    <div class="col-md-7 default-margin">
      <%= render 'layouts/form_create_customer' %>
    </div>
  </div>
</div>