<div class="panel panel-default">
  <h1 class="custom-title">Просмотр заказа</h1>
  <div class="panel-body">
    <% provide(:title, 'Просмотр заказа') %>
    <% if notice %>
      <div class="panel panel-success panel-bottom">
        <div class="panel-heading panel-footer">
          <div id="notice"><%= notice %></div>
        </div>
      </div>
    <% end %>
    <% if @order.present? %>
      <% if @coupon.present? %>
        <p>Вам предоставлен купон на <%= number_to_percentage(@coupon.percent, precision: 0) %></p>
      <% end %>
      <div class="panel panel-default panel-bottom">
        <div class="panel-heading">
          <h4>Содержимое корзины:</h4>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Название:</th>
              <th>Цена:</th>
              <th>Количество:</th>
              <th>Всего:</th>
            </tr>
          </thead>
          <tbody>
          <% @order.order_items.each do |order_item| %>
            <tr>
              <td>
                <h3 class="default-title primary-margin"><%= order_item.product.title %></h3>
              </td>
              <td>
                <%= order_item.product.price_cents %>$
                <% if @coupon.present? %>
                    (<%= order_item.product.price_cents - (order_item.product.price_cents * @coupon.percent.ceil * 0.01)  %>$)
                <% end %>
              </td>
              <td><%= order_item.quantity %></td>
              <td><%= order_item.quantity * order_item.product.price_cents %> $</td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <div class="panel-footer text-right change-padding">
          <b>Итого:</b> <%= @order.total_price_cents %>$
        </div>
      </div>
      <div class="col-md-6 side-padding">
        <div class="panel panel-default panel-bottom">
          <div class="panel-heading">
            <h4 class="text-center">Информация об учётной записи:</h4>
          </div>
          <div class="panel-body">
            <p><b>Email:</b> <%= @customer.email %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 side-padding">
        <div class="panel panel-default panel-bottom">
          <div class="panel-heading">
            <h4 class="text-center">Платежная информация:</h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><b>Адрес1:</b> <%= @customer.first_address %></li>
            <li class="list-group-item"><b>Город:</b> <%= @customer.city %></li>
            <li class="list-group-item"><b>Почтовый индекс:</b> <%= @customer.postcode %></li>
            <li class="list-group-item"><b>Страна:</b> <%= @customer.country %></li>
            <li class="list-group-item"><b>Телефон:</b> <%= @customer.phone_number %></li>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="col-md-12"><%= render 'layouts/form_review' %></div>
  </div>
</div>