<div class="col-md-3"><%= render 'layouts/left_sidebar' %></div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-10">
            <h4 id="notice"><%= notice %></h4>
            <% if @customers_product.present? %>
                <h4><b>Содержимое корзины:</b></h4>
                <% @customers_product.each do |customer_product| %>
                    <div class="col-md-13">
                      <tr>
                        <div class="col-md-4">
                          <td><h5><%= customer_product.product.title %></td></h5>
                        </div>
                        <div class="col-md-3">
                          <td><h5>Цена: <%= customer_product.product.price %> грн</h5></td>
                        </div>
                        <div class="col-md-3">
                          <td><h5>Количество: <%= customer_product.quantity %></h5></td>
                        </div>
                        <div class="col-md-2">
                          <td><h5>Всего: <%= customer_product.quantity*customer_product.product.price %> грн</h5></td>
                        </div>
                      </tr>
                    </div>
                <% end %>
                <div class="col-md-6">
                  <h4><b>Информация об учётной записи:</b></h4>
                  <td><h5>Email: <%= @customer.email %></h5></td>
                </div>
                <div class="col-md-6">
                  <h4><b>Платежная информация:</b></h4>
                  <td><h5>Адрес1: <%= @customer.first_address %></h5></td>
                  <td><h5>Город: <%= @customer.city %></h5></td>
                  <td><h5>Почтовый индекс: <%= @customer.postcode %></h5></td>
                  <td><h5>Страна: <%= @customer.country %></h5></td>
                  <td><h5>Телефон: <%= @customer.phone_number %></h5></td>
                </div>
            <% end %>
            <%= form_for(@customer, url: create_customer_path, :method=>"post") do |f| %>
                <%= f.hidden_field :name, :value => @customer.name %>
                <%= f.hidden_field :surname, :value => @customer.surname %>
                <%= f.hidden_field :phone_number, :value => @customer.phone_number %>
                <%= f.hidden_field :bonuses, :value => @customer.bonuses %>
                <%= f.hidden_field :country, :value => @customer.country %>
                <%= f.hidden_field :company, :value => @customer.company %>
                <%= f.hidden_field :first_address, :value => @customer.first_address %>
                <%= f.hidden_field :second_address, :value => @customer.second_address %>
                <%= f.hidden_field :city, :value => @customer.city %>
                <%= f.hidden_field :state, :value => @customer.state %>
                <%= f.hidden_field :postcode, :value => @customer.postcode %>
                <%= f.hidden_field :email, :value => @customer.email %>
                <%= f.hidden_field :email_confirmation, :value => @customer.email %>
                <%= submit_tag("Продолжить оформление", class: 'btn btn-default') %>
            <% end %>
          </div>
      </div>
    </div>
</div>
<div class="col-md-3"><%= render 'layouts/right_sidebar' %></div>