<%= form_for @customer, url: order_review_path, :method=>"get", label_errors: true, inline_errors: true do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
        Бонусы: <%= f.text_field :bonuses, class: 'form-control' %>
    </div>
    <div class="field">
        Имя:<%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="field">
        Фамилия: <%= f.text_field :surname, class: 'form-control' %>
    </div>
    <div class="field">
        E-mail адрес: <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="field">
        Подтвердить E-mail адрec: <%= f.email_field :email_confirmation, class: 'form-control' %>
    </div>
    <div class="field">
        Телефонный номер: <%= f.phone_field :phone_number, class: 'form-control bfh-phone' %>
      <div class="alert alert-info" role="alert">Пример: +1-234-567-8901</div>
    </div>
    <div class="field">
        Страна: <%= f.text_field :country, class: 'form-control', disabled: true %>
    </div>
    <div class="field">
        Компания:<%= f.text_field :company, class: 'form-control' %>
    </div>
    <div class="field">
        Первый адрес: <%= f.text_field :first_address, class: 'form-control' %>
    </div>
    <div class="field">
        Второй адрес: <%= f.text_field :second_address, class: 'form-control' %>
    </div>
    <div class="field">
        Штат: <%= f.select :state, options_for_select(us_states, "CA"), {}, class: 'form-control' %>
    </div>
    <div class="field">
        Город: <%= f.text_field :city, class: 'form-control' %>
    </div>
    <div class="field">
        Посткод: <%= f.text_field :postcode, class: 'form-control' %>
    </div>
    <div class="actions">
    <%= f.submit "Отправить", class: 'btn btn-default' %>
    </div>
<% end %>