<%= form_for @customer, url: order_review_path, :method=>"get", label_errors: true, inline_errors: true do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <% case @customer.errors.count
         when 1 %><h2><%= pluralize(@customer.errors.count, '') %> ошибка была допущена</h2>
        <% when 2..5 %><h2><%= pluralize(@customer.errors.count, '') %> ошибки было допущено</h2>
        <% else %><h2><%= pluralize(@customer.errors.count, '') %> ошибок было допущено</h2>
      <% end %>
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    Бонусы: <%= text_field_tag :coupon, '', class: 'form-control' %>
  </div>
  <div class="form-group">
    Имя:<%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    Фамилия: <%= f.text_field :surname, class: 'form-control' %>
  </div>
  <div class="form-group">
    E-mail адрес: <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    Подтвердить E-mail адрec: <%= f.email_field :email_confirmation, class: 'form-control' %>
  </div>
  <div class="form-group">
    Телефонный номер: <%= f.phone_field :phone_number, class: 'form-control bfh-phone' %>
    <div class="alert alert-info" role="alert">Пример: +1-234-567-8901</div>
  </div>
  <div class="form-group">
    Страна: <%= f.text_field :country, class: 'form-control', disabled: true %>
  </div>
  <div class="form-group">
    Компания:<%= f.text_field :company, class: 'form-control' %>
  </div>
  <div class="form-group">
    Первый адрес: <%= f.text_field :first_address, class: 'form-control' %>
  </div>
  <div class="form-group">
    Второй адрес: <%= f.text_field :second_address, class: 'form-control' %>
  </div>
  <div class="form-group">
    Штат: <%= f.select :state, options_for_select(us_states, "CA"), {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    Город: <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    Посткод: <%= f.text_field :postcode, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Отправить", class: 'btn btn-default' %>
  </div>
<% end %>