<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Магазин христианской книги 'Вестник мира'</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp" %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= cell(:layout, :show, layout: 'header') %>
<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-3"><%= cell(:layout, :show, layout: 'left_sidebar') %></div>
        <div class="col-md-6 zero-padding">
            <%= yield %>
        </div>
    <div class="col-md-3"><%= cell(:layout, :show, layout: 'right_sidebar') %></div>
  </div>
</div>
<%= cell(:layout, :show, layout: 'footer') %>
</body>
</html>